.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

@media (max-width: 480px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
  }

  .ant-table-tbody > tr > td,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-thead > tr > th {
    white-space: pre;
  }

  .ant-table-tbody > tr > td > span,
  .ant-table-tbody > tr > th > span,
  .ant-table-thead > tr > td > span,
  .ant-table-thead > tr > th > span {
    display: block;
  }
}

.ant-form-item-label {
  line-height: 25px !important;
}

@media (max-width: 575px) {
  .ant-form-item-label {
    padding: 0 !important;
  }
}

.control-panel {
  background: rgba(0, 0, 0, 0.5);
  color: #fff !important;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
}

.mapboxgl-user-location-dot {
  transform: translate(-50%, -100%);
}
